header {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    border: 3px solid white;
    width: 100%;
    background-color: #E3DFFD;
}

main {
    padding: 46px;
    margin-left: 5px;
    background-color: var(--third-color);
    border: 3px solid white;
}

.bodyText {
    margin-top: 30px;
}

.title {
    font-weight: bolder;
}

.locationHeader {
    font-size: 30px;
}

h1 {
    font-size: 30px;
    line-height: 1.1;
    top: 25%;
    left: 15%;
    position: absolute;
    color: white;
    text-shadow: -3px 3px 0 #7B2869;
}

.headerDescription {
    font-style: italic;
}

.addLink {
    color: black;
}

.Åndalsnes {
    object-position: center;
}

.imgBorder img {
    border: 2px solid white;

}

.jumpToLocation {
    color: black;
    text-decoration: none;
}

.jumpToLocation:hover {
    color: white;
    text-decoration: underline;
}

@media (min-width: 400px) {
    .bodyText {
        margin-top: 0px;
    }
}

@media (min-width: 400px) {
    h1 {
        left: 40px;
        top: 300px;
    }
}

@media (min-width: 500px) {
    h1 {
        left: 40px;
        top: 400px;
    }
}

@media (min-width: 800px) {
    .bodyText {
        margin-top: -50px;
    }

    header {
        margin-top: 40px;
        display: flex;
        flex-direction: row;
        border: 3px solid white;
        margin-left: 10%;
        width: 80%;
    }

    main {
        width: 73%;
        margin-left: 10%;
    }

    h1 {
        font-size: 3.2em;
        line-height: 1.1;
        top: 28%;
        left: 30%;
    }

    .addLink {
        margin-left: 70%;
    }

    .locationBox {
        display: flex;
    }

    .locationBox__text {
        min-width: 67%;
    }

    .locationBox img {
        margin-top: 40px;
        margin-left: 10px;
        width: 300px;
        height: 400px;
    }
}

@media (min-width: 1000px) {
    h1 {
        left: 20%;
        top: 35%;
    }
}

@media (min-width: 1200px) {
    h1 {
        top: 48%;
        left: 35%;
    }

    .addLink {
        margin-left: 80%;
    }
}