header {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    border: 3px solid white;
    width: 100%;
}

main {
    padding: 46px;
    margin-left: 5px;
    background-color: var(--third-color);
    border: 3px solid white;
}

.bodyText {
    margin-top: -80px;
}

.besideImage {
    padding-top: 50%;
    background-color: var(--third-color);
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
    top: 38%;
    left: 30%;
    position: absolute;
    color: white;
    text-shadow: -3px 3px 0 #7B2869;
}

.headerDescription {
    padding-left: 35px;
    padding-right: 35px;
    font-style: italic;
}

.addLink {
    margin-left: 80%;
    color: black;
}
