#root {
  max-width: 1280px;
  margin-left: 15%;
}

img {
  width: 80%;
  height: 50%;
  object-fit: cover;
  opacity: 90%;
}

@media (min-width: 400px) {
  img {
    width: 600px;
    height: 800px;
    object-position: 20% 50%;
  }
}