#root {
  max-width: 1280px;
  margin: 10px;
}

img {
  width: 100%;
  height: 20%;
  object-fit: cover;
  opacity: 90%;
}

@media (min-width: 800px) {
  #root {
    margin: 25px;
  }

  img {
    height: 550px;
    object-position: 20% 50%;
}
}
