:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  color: #213547;
  background-color: #ebebfa;
  --first-color: #ECF2FF;
  --second-color: #E3DFFD;
  --third-color: #E5D1FA;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

button, .submitButton, .addLink {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 10px 15px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #EAE7B1;
  cursor: pointer;
  transition: 0.25s ease-in-out;
  text-decoration: inherit;
}

button:hover, .submitButton:hover, .addLink:hover {
  color: var(--third-color);
  background-color: #6398E0;
  border-color: var(--third-color);
}


input {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 10px 15px;
  font-size: 1em;
  margin-right: 10px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  gap: 8px;
}

