:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  color: #213547;
  background-color: #E3DFFD;
    --first-color: #ECF2FF;
    --second-color: #E3DFFD;
    --third-color: #E5D1FA;
}

a {
  font-weight: 500;
  color: #EAE7B1;
  text-decoration: inherit;
}

a:hover {
  color: #3C6255;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 10px 15px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #EAE7B1;
  cursor: pointer;
  transition: 0.25s ease-in-out;
}

button:hover {
  color: #EAE7B1;
  background-color: #61876E;
  border-color: #EAE7B1;
}